.task-box {
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 8px;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  margin-top: 60px;
}

.task-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.task-item:last-child {
  border-bottom: none;
}

.task-item h5 {
  margin: 0 0 8px 0;
  font-size: 14px;
  flex: 1; 
}


.task-item button {
  padding: 6px 12px;
  background: #10b981;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.no-task {
  color: #888;
}